body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn_game {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn_start {
  font-size: 60px;
  padding: 12px 20px;
  margin-bottom: 0;
  cursor: pointer;
  background-color: #011F3F;
  border-radius: 10%;
  border-color: black;
  border: 1px solid;
}

.btn_start:hover{
  background-color: #feceab;
  opacity: .5;
}